* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 5vw 10vw 0 10vw;
  background-color: #f6f4f4;
  overflow-x: hidden;
}

a {
  color: #000000;
  text-decoration: none;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 3rem;
}
